* {
  padding: 0; /* toglie padding di default del browser*/
}

html, body {
  height: 100%;
}

.container {
  padding: 100px 0;
}

.card {
  width: 50%;
}

#divContainer {
  min-height: 100%;
}

/* Styling del footer */
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 90%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

ul.link-area li {
  padding: 5px 5px 5px 0;
  list-style: none;
}
